<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
  <div class="section">
    <div class="container">
      <div class="row pt-5">
        <div class="col text-center">
          <h2 class="title">
            {{ "ResitTerimaKasih" | translate }}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto">
          <div class="card" style="background-color: #ffffff">
            <div class="card-header" style="background-color: #2d71f6">
              <div class="row">
                <div class="col">
                  <h3 class="title text-white mt-0">
                    {{ "ResitBayaran" | translate }}
                  </h3>
                </div>
                <div class="col-auto text-right">
                  <h3 class="title text-white mt-0">
                    {{
                      invoicereceipts[0]?.receipt_created_datetime
                        | date: "dd.MM.yyyy"
                    }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row pt-3">
                <div class="col-md-6 col-sm-12">
                  <!-- <p class="m-0 font-weight-bold text-dark">
                    {{ "PlanetariumNegara" | translate }}
                  </p>
                  <p class="m-0 text-dark">{{ "MOSTI" | translate }}</p>
                  <p class="m-0 text-dark">
                    53, Jalan Perdana, 50480 Kuala Lumpur, MALAYSIA
                  </p> -->
                  <img
                    src="../../../assets/logo/planetarium-logo.png"
                    style="width: 30%"
                  />
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                  <p class="m-0 font-weight-bold text-dark">
                    {{ user?.full_name }}
                  </p>
                  <p class="m-0 text-dark">{{ user?.email }}</p>
                  <p class="m-0 text-dark">
                    {{ user?.phone }}
                  </p>
                </div>
              </div>
              <div class="row justify-content-md-between mt-5">
                <div class="col-md-4">
                  <h2 class="text-left text-dark">
                    {{ "ResitNo" | translate }}
                    <small class="mr-2">
                      {{ invoicereceipts[0]?.receipt_running_no }}
                    </small>
                  </h2>
                </div>
                <div class="col-lg-4 col-md-5">
                  <div class="row">
                    <div class="col-md-6">{{ "Tarikh" | translate }}:</div>
                    <div class="col-md-6 text-dark">
                      {{
                        invoicereceipts[0]?.receipt_created_datetime
                          | date: "dd.MM.yyyy"
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- <hr class="line-info mb-3" /> -->

              <div class="row">
                <div class="col-12 mt-3">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="bg-info">
                        <tr>
                          <th scope="col">
                            <h4 class="title text-white m-0">Item</h4>
                          </th>
                          <th class="text-center" scope="col">
                            <h4 class="title text-white m-0">
                              {{ "Kuantiti" | translate }}
                            </h4>
                          </th>
                          <th class="text-right" scope="col">
                            <h4 class="title text-white m-0">
                              {{ "Jumlah" | translate }} (RM)
                            </h4>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let summarycart of summarycarts;
                            let i = index
                          "
                        >
                          <td>
                            <div
                              *ngIf="summarycart[0].type == 'simulator-ride'"
                            >
                              {{ "KembaraSimulasi" | translate }} -
                              <span *ngIf="translate.currentLang == 'en'">
                                {{ summarycart[0].simulator_ride_day_en }},
                                {{ summarycart[0].simulator_ride_round_en }} ({{
                                  summarycart[0].simulator_ride_time
                                }})
                              </span>
                              <span *ngIf="translate.currentLang == 'ms'">
                                {{ summarycart[0].simulator_ride_day_ms }},
                                {{ summarycart[0].simulator_ride_round_ms }} ({{
                                  summarycart[0].simulator_ride_time
                                }})
                              </span>
                            </div>

                            <div *ngIf="summarycart[0].type == 'showing'">
                              {{ "Tayangan" | translate }} -
                              <span *ngIf="translate.currentLang == 'en'"
                                >{{ summarycarts[i][0].showing_title_en }},
                                {{ summarycarts[i][0].showtime_show_date }}, ({{
                                  summarycarts[i][0].showtime_show_time
                                }})</span
                              >
                              <span *ngIf="translate.currentLang == 'ms'"
                                >{{ summarycarts[i][0].showing_title_ms }},
                                {{ summarycarts[i][0].showtime_show_date }}, ({{
                                  summarycarts[i][0].showtime_show_time
                                }})
                              </span>
                            </div>
                          </td>
                          <td class="text-center">
                            {{ summarycarts[i].length }}
                          </td>
                          <td class="text-right">
                            RM {{ calculatoPriceEachCart(summarycarts[i]) }}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th class="h4 text-dark title">
                            {{ "Jumlah" | translate }}
                          </th>
                          <th class="text-right h4 text-dark title" colspan="3">
                            RM {{ totalprice | number: "1.2-2" }}
                          </th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>

              <hr class="line-info mb-3" />

              <!-- Transaction Date Seller Order No FPX Transaction ID Transaction
              Amount Buyer Bank Name Status -->
              <div class="row">
                <div class="col-md-8 col-sm-6 text-right">
                  <p class="font-weight-semi-bold text-dark">
                    {{ "TarikhTransaksi" | translate }}
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-right">
                  {{ invoicereceipts[0]?.fpx_transaction_id.fpx_fpxTxnTime | formatFPXTransactionDateTime }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-6 text-right">
                  <p class="font-weight-semi-bold text-dark">
                    {{ "NomborPesananPenjual" | translate }}
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-right">
                  {{ invoicereceipts[0]?.fpx_transaction_id.fpx_sellerOrderNo }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-6 text-right">
                  <p class="font-weight-semi-bold text-dark">
                    {{ "IDTransaksiFPX" | translate }}
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-right">
                  {{ invoicereceipts[0]?.fpx_transaction_id.fpx_fpxTxnId }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-6 text-right">
                  <p class="font-weight-semi-bold text-dark">
                    {{ "JumlahTransaksi" | translate }}
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-right">
                  RM {{ invoicereceipts[0]?.fpx_transaction_id.fpx_txnAmount }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-6 text-right">
                  <p class="font-weight-semi-bold text-dark">
                    {{ "NamaBankPembeli" | translate }}
                  </p>
                </div>
                <div class="col-md-4 col-sm-6 text-right">
                  {{
                    invoicereceipts[0]?.fpx_transaction_id.fpx_buyerBankBranch
                  }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-6 text-right">
                  <p class="font-weight-semi-bold text-dark">Status</p>
                </div>
                <div class="col-md-4 col-sm-6 text-right">
                  <span
                    class="text-uppercase font-weight-bold"
                    *ngIf="
                      invoicereceipts[0]?.fpx_transaction_id
                        .fpx_debitAuthCode == '00'
                    "
                    >{{ "Berjaya" | translate }}</span
                  >
                  <span
                    class="text-uppercase font-weight-bold"
                    *ngIf="
                      invoicereceipts[0]?.fpx_transaction_id
                        .fpx_debitAuthCode != '00'
                    "
                    >{{ "TidakBerjaya" | translate }}</span
                  >
                </div>
              </div>

              <div class="row pt-3">
                <div class="col text-center">
                  <small class="text-danger">{{
                    "ResitNota" | translate
                  }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
