.brand-img {
  max-height: 3.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  border-top: 2px solid #17a2b8;
  background: #0a0909;
}

h3,
h4,
li,
p {
  color: #ffffff;
}

a {
  color: #2D7AF6;
}