<!-- <div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">
          {{ "Setsemulakatalaluan" | translate }}
        </h2>
        <form [formGroup]="passwordresetFormGroup">
          <div class="row pb-3">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">UID</label>
                <input
                  type="text"
                  class="form-control text-dark"
                  formControlName="uid"
                  readonly="true"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Token</label>
                <input
                  type="text"
                  class="form-control text-dark"
                  formControlName="token"
                  readonly="true"
                />
              </div>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label required-field">{{
                  "KataLaluanBaru" | translate
                }}</label>
                <input
                  type="password"
                  class="form-control text-dark"
                  formControlName="new_password1"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label required-field">{{
                  "UlangKataLaluanBaru" | translate
                }}</label>
                <input
                  type="password"
                  class="form-control text-dark"
                  formControlName="new_password2"
                />
              </div>
            </div>
          </div>

          <div class="text-center">
            <button
              class="btn btn-default"
              (click)="resetpassword()"
              type="button"
              [disabled]="!passwordresetFormGroup.valid"
            >
              {{ "Hantar" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
