<div 
  style=
  "
  width: 80%;
  margin: auto;
  "
  class="row mt-4">

    <div class="col-4">
      <div (click)="clickJadual()" class="g2 btn-lg">
        <b>JADUAL</b>
      </div>
    </div>

    <div class="col-4">
      <div (click)="clickTempahan()" class="g2 btn-lg">
        <b>TEMPAHAN</b>
      </div>
    </div>

    <div class="col-4">
      <div (click)="clickPermohonan()" class="g2 btn-lg">
        <b>PERMOHONAN</b>
      </div>
    </div>
<!--
    <div class="col-4">
      <div (click)="clickPrinter()" class="g2 btn-lg">
        <b>TEST</b>
      </div>
    </div>
-->


</div>
