.section {
  padding: 1px 0;
}

.inner-html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: black;
  }

  ol,
  ul {
    li {
      color: black;
    }
  }
}

.carousel-team {
  margin-top: 0px;
}

.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #000000;
}
