<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
  <div class="page-header page-header-small header-filter">
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">
          {{ "KutubkhanahMiniPerkhidmatanTajuk" | translate }}
          <share-button button="facebook"></share-button
          ><share-button button="twitter"></share-button
          ><share-button button="whatsapp"></share-button>
        </h2>
        <div class="row pb-3">
          <div class="col-md-6 col-sm-12">
            <div class="card bg-transparent">
              <div class="card-img">
                <img
                  src="../../../assets/home/icon/perpustakaan-maya.jpeg"
                  style="width: 100%; height: 400px"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card" style="height: 400px">
              <div class="card-body">
                <ul>
                  <li>
                    <h3 class="text-white mb-3">
                      {{ "KutubkhanahMiniPerkhidmatan1" | translate }}
                    </h3>
                  </li>
                  <li>
                    <h3 class="text-white mb-3">
                      {{ "KutubkhanahMiniPerkhidmatan2" | translate }}
                    </h3>
                  </li>
                  <li>
                    <h3 class="text-white mb-3">
                      {{ "KutubkhanahMiniPerkhidmatan3" | translate }}
                    </h3>
                  </li>
                  <li>
                    <h3 class="text-white mb-3">
                      {{ "KutubkhanahMiniPerkhidmatan4" | translate }}
                    </h3>
                  </li>
                  <li>
                    <h3 class="text-white mb-3">
                      {{ "KutubkhanahMiniPerkhidmatan5" | translate }}
                    </h3>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-md-4 col-sm-12">
            <div class="card" style="height: 100px">
              <div class="card-body">
                <h3 class="text-white font-weight-bold text-center">
                  {{ "KutubkhanahMiniPerkhidmatanHyperlink1" | translate }}
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card" style="height: 100px">
              <div class="card-body">
                <h3 class="text-white font-weight-bold text-center">
                  {{ "KutubkhanahMiniPerkhidmatanHyperlink2" | translate }}
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card" style="height: 100px">
              <div class="card-body">
                <h3 class="text-white font-weight-bold text-center">
                  {{ "KutubkhanahMiniPerkhidmatanHyperlink3" | translate }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
