<!-- <div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <!-- <h2 class="title text-center text-dark">{{ "CartaOrganisasi" | translate }}</h2> -->

        <div class="row pb-3" *ngFor="let dynamiccontent of dynamiccontents">
          <div class="col" *ngIf="translate.currentLang == 'en'">
            <h2 class="title text-center text-dark">
              {{ dynamiccontent.title_en }}
            </h2>
            <div
              class="inner-html"
              [innerHtml]="dynamiccontent.description_en | safe: 'html'"
            ></div>
          </div>
          <div class="col" *ngIf="translate.currentLang == 'ms'">
            <h2 class="title text-center text-dark">
              {{ dynamiccontent.title_ms }}
            </h2>
            <div
              class="inner-html"
              [innerHtml]="dynamiccontent.description_ms | safe: 'html'"
            ></div>
          </div>
        </div>
        <!-- <div class="row pb-3">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/img/carta-organisasi-pn.jpg" />
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
