<!-- <div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark text-capitalize">
          {{ "Dasarprivasidankeselamatan" | translate }}
        </h2>
        <div class="row pb-3">
          <h1 class="title text-dark">
            {{ "PrivacyPolicy1Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy1Description" | translate }}
          </p>

          <h1 class="title text-dark">
            {{ "PrivacyPolicy2Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy2Description" | translate }}
          </p>

          <h1 class="title text-dark">
            {{ "PrivacyPolicy3Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy3Description" | translate }}
          </p>

          <h1 class="title text-dark">
            {{ "PrivacyPolicy4Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy4Description" | translate }}
          </p>

          <h1 class="title text-dark">
            {{ "PrivacyPolicy5Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy5Description" | translate }}
          </p>

          <h1 class="title text-dark">
            {{ "PrivacyPolicy6Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy6Description" | translate }}
          </p>

          <h1 class="title text-dark">
            {{ "PrivacyPolicy7Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy7Description" | translate }}
          </p>

          <h1 class="title text-dark">
            {{ "PrivacyPolicy8Title" | translate }}
          </h1>
          <p class="text-dark text-justify">
            {{ "PrivacyPolicy8Description" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
