video {
  // filter: opacity(70%);

  h1 {
    filter: opacity(10%);
    color: black;
  }
}

.section {
  padding: 100px 0;
}

.panel .customClass {
  background-color: #ffffff;
  color: #000000;
}

.card .card-header {
  padding: 0.5rem 0.75rem !important;
}

.card .card-body {
  padding: 0.75rem 1.5rem !important;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
  color: #354675 !important;
}

.inner-html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: black;
  }

  ol,
  ul {
    li {
      color: black;
    }
  }
}

.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #000000;
}
