.section {
  padding: 1px 0;
}

.required-field::after {
  content: " *";
  color: red;
}

.form-control[readonly] {
  background-color: #e9ecef !important;
}

.inner-html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: black;
    text-align: justify;
  }

  ol,
  ul {
    li {
      color: black;
    }
  }
}

lightbox {
  width: 720px !important;
  height: 480px !important;
}

.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #000000;
}
