<h3 style="border-bottom: solid gainsboro; margin: auto;" class="title p-2 text-dark text-center">
      {{ "Tempahan" | translate }}
</h3>

<!-- Dengan sub-kategori -->
<div class="row" *ngIf="selectedFacility.have_subcategory">
  <div
    class="col-4"
    *ngFor="let facilitysubcategory of facilitysubcategories"
  >
    <div 
      (click)="openFacilityDetailZone(selectedFacility, facilitysubcategory)"
      class="card">

      <div class="card-body text-center text-dark">
        <h3
          class="card-title font-weight-bold text-uppercase"
          *ngIf="translate.currentLang == 'en'"
        >
          {{ facilitysubcategory.name_en }}
        </h3>
        <h3
          class="card-title font-weight-bold text-uppercase"
          *ngIf="translate.currentLang == 'ms'"
        >
          {{ facilitysubcategory.name_ms }}
        </h3>
        <h3 class="card-title font-weight-bold text-uppercase">
          {{ facilitysubcategory.name }}
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="" *ngIf="!router.url.includes('KR')"> 
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form class="js-validate" [formGroup]="facilitybookingFormGroup">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <label class="labels required-field">
                  {{ "NamaPenuh" | translate }}
                </label>
                <input
                  class="form-control text-dark"
                  placeholder=""
                  type="text"
                  formControlName="user_name"
                />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    {{ "AlamatEmel" | translate }}
                  </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    type="email"
                    formControlName="user_email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    {{ "NomborTelefon" | translate }}
                  </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    type="tel"
                    formControlName="user_phone"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    {{ "Tarikh" | translate }}
                  </label>
                  <input
                    class="form-control text-dark"
                    type="text"
                    formControlName="booking_date"
                    bsDatepicker
                    [minDate]="today"
                    [daysDisabled]="[1]"
                    [placeholder]="'Silapilihtarikh' | translate"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'YYYY-MM-DD'
                    }"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    {{ "Waktu" | translate }}
                  </label>
                  <select
                    class="form-control text-dark"
                    formControlName="booking_days"
                  >
                    <option value="">{{ "Silapilih" | translate }}</option>
                    <option
                      *ngFor="let bookingday of bookingdays"
                      [value]="bookingday.value"
                    >
                      <span *ngIf="translate.currentLang == 'en'">{{
                        bookingday.display_name_en
                      }}</span>
                      <span *ngIf="translate.currentLang == 'ms'">{{
                        bookingday.display_name_ms
                      }}</span>
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    {{ "BilanganOrang" | translate }}
                  </label>
                  <input
                    aria-label="Bilangan orang"
                    class="form-control text-dark"
                    [placeholder]="'BilanganOrang' | translate"
                    type="number"
                    formControlName="number_of_people"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row" *ngIf="have_equipment">
              <div class="col-md-12">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    {{ "PerlukanPeralatan" | translate }} </label
                  ><br />
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label text-dark">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="want_equipment"
                        formControlName="want_equipment"
                        value="WITH"
                      />
                      {{ "DenganPeralatan" | translate }}
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label text-dark">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="want_equipment"
                        formControlName="want_equipment"
                        value="WOUT"
                      />
                      {{ "TanpaPeralatan" | translate }}
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br *ngIf="have_equipment" />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    {{ "KategoriOrganisasi" | translate }}
                  </label>
                  <select
                    class="form-control custom-select text-dark"
                    formControlName="organisation_category"
                  >
                    <option selected value="">
                      {{ "Silapilih" | translate }}
                    </option>
                    <option
                      *ngFor="
                        let organisationcategory of organisationcategories
                      "
                      [value]="organisationcategory.value"
                    >
                      <span *ngIf="translate.currentLang == 'en'">{{
                        organisationcategory.display_name_en
                      }}</span>
                      <span *ngIf="translate.currentLang == 'ms'">{{
                        organisationcategory.display_name_ms
                      }}</span>
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    {{ "NamaOrganisasi" | translate }}
                  </label>
                  <input
                    aria-label="Nama organisasi"
                    class="form-control text-dark"
                    [placeholder]="'NamaOrganisasi' | translate"
                    type="text"
                    formControlName="organisation_name"
                  />
                </div>
              </div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      (click)="openAfterBooking()"
    >
      {{ "BuatTempahan" | translate }}
    </button>

     </div>
</div>
