<h3 style="border-bottom: solid gainsboro; margin: auto;" class="title p-2 text-dark text-center">
{{ "Fasiliti" | translate }}
</h3>


<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container pb-5">
        <div class="row">
          <div class="col">
            <!-- <p class="text-dark text-justify">
              {{ "FasilitiPlanetariumDescription" | translate }}
            </p> -->
            <p
              class="text-dark text-justify inner-html"
              *ngIf="translate.currentLang == 'en'"
              [innerHtml]="module?.description_en | safe: 'html'"
            ></p>
            <p
              class="text-dark text-justify inner-html"
              *ngIf="translate.currentLang == 'ms'"
              [innerHtml]="module?.description_ms | safe: 'html'"
            ></p>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-lg-4">
            <div
              class="card card-background"
              [routerLink]="['details/', 'TA']"
              data-animation="zooming"

            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_10.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Teater Angkasa</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">
                          {{ "FasilitiPlanetarium1" | translate }}
                        </h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card  card-background"
              data-animation="zooming"
              [routerLink]="['details/', 'GP']"

            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_2.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Galeri Pameran</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">
                          {{ "FasilitiPlanetarium2" | translate }}
                        </h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card  card-background"
              data-animation="zooming"
              [routerLink]="['details/', 'TT']"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_9.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Teatret</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">
                          {{ "FasilitiPlanetarium3" | translate }}
                        </h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div
              class="card  card-background"
              data-animation="zooming"
              [routerLink]="['details/', 'BC']"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/1 centaurus.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Bilik Centaurus</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">
                          {{ "FasilitiPlanetarium4" | translate }}
                        </h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card  card-background"
              data-animation="zooming"
              [routerLink]="['details/', 'KR']"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_8.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Kawasan Rekreasi</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">
                          {{ "FasilitiPlanetarium5" | translate }}
                        </h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card  card-background"
              data-animation="zooming"
              [routerLink]="['details/', 'SM']"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_5.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Stesen Mikrosatelit</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">
                          {{ "FasilitiPlanetarium6" | translate }}
                        </h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
