<!-- <div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="wrapper" [ngClass]="fontSize" [ngClass]="themeColor">
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">
          {{ "AktaPerlindunganPeribadi" | translate }}
        </h2>
        <div class="row pb-3">
          <div class="col">
            <p>
              <span style="color: #000000"
                ><strong
                  >{{ "AktaPerlindunganPeribadiTitle1" | translate }}
                </strong></span
              ><br />
              <span style="color: #000000">{{
                "AktaPerlindunganPeribadiDescription1" | translate
              }}</span>
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"
                ><strong>{{
                  "AktaPerlindunganPeribadiTitle2" | translate
                }}</strong></span
              ><br />
              <span style="color: #000000">{{
                "AktaPerlindunganPeribadiDescription2" | translate
              }}</span>
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"
                ><strong>{{
                  "AktaPerlindunganPeribadiTitle3" | translate
                }}</strong></span
              ><br />
              <span style="color: #000000">{{
                "AktaPerlindunganPeribadiDescription3" | translate
              }}</span>
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"
                ><strong>{{
                  "AktaPerlindunganPeribadiTitle4" | translate
                }}</strong></span
              ><br />
              <span style="color: #000000">{{
                "AktaPerlindunganPeribadiDescription4" | translate
              }}</span>
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"
                ><strong>{{
                  "AktaPerlindunganPeribadiTitle5" | translate
                }}</strong></span
              ><br />
              <span style="color: #000000">{{
                "AktaPerlindunganPeribadiDescription5" | translate
              }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
